#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#result
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
body
{
    background: rgb(26,69,255);
background: linear-gradient(90deg, rgba(26,69,255,1) 0%, rgba(198,36,255,1) 19%, rgba(253,134,251,1) 40%, rgba(253,134,251,1) 65%, rgba(176,36,254,1) 85%, rgba(12,40,244,1) 100%);
}
h1
{
    text-align: center;
    color: white;
    font-family: cursive;
    font-weight: bold;
}
h4
{
    text-align: center;
    color: aquamarine;
    font-weight: bold;
    font-family: cursive;
}
h3
{
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#label1
{
    color: aqua;
    font-family: cursive;
    font-weight: bold;
    font-style: oblique;
    font-size:x-large;
}
#div1
{
    color: white;
    font-size: x-large;
}